<!DOCTYPE html>
<html>
<head>
  <title>SocialSpin</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner" style="width: auto; padding: 0 20px;">
			<a class="brand" href="/home/index.html">Social Spin - Be Heard</a>
			<form class="form-inline">
					<ul class="nav pull-right">
						<%= form_for("user", :url => user_session_path) do |f| %>
						<% if user_signed_in? %>
							<li><%= link_to current_user.user_name, profiles_show_path(id: current_user.profile_name) %></li>
							<li><%= link_to current_user.first_name, edit_user_registration_path %></li>
							<li><%= link_to "Logout", destroy_user_session_path, method: :delete  %></li>
						<% else %>
							<li><%= f.email_field :email, :autofocus => true, "class" => "input-small", "placeholder" => "Email" %></li>
							<li><%= f.password_field :password, "class" => "input-small", "placeholder" => "password" %></li>
							<li><%= f.submit "Sign in" %></li>
							<li><%= link_to "Register", new_user_registration_path  %></li>
						<% end %>					
					</ul>
				</form>
			<% end %>
		</div>
		<div class="nav-search">
		<form class="form-search">
		  <input type="text" class="input-medium search-query">
		  <button type="submit" class="btn">Search</button>
		</form>
	</div>
	</div>
	
	<div class="container">	
		<div class="row">
			<div class="span3">
				<ul class="nav nav-list" data-spy="affix">
					<li><a href="/home/index.html">Home</a></li>
					<li><a href="/artists/index.html">Artists</a></li>
					<li><a href="/songs/index.html">Songs</a></li>
					<li><a href="/albums/index.html">Albums</a></li>
					<li><a href="/contact/contact.html">Contact</a></li>
				</ul>
			</div>
			<div class="span9">
				<%= yield %>
			</div>
		</div>	
	</div>
	<div class="navbar navbar-fixed-bottom">
		<div class="navbar-inner">
	  		<ul class="nav">
	  			<li><a href="#">Contact Dillon Lara at dillonlara115@gmail.com for any questions</a></li>
	  		</ul>
	  	</div>
	</div>
</body>
</html>
